@import url('http://fonts.cdnfonts.com/css/bombardier');

:root {
  --main-blue: #7510f7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: black;
}
body {
  font-family: 'Bombardier', sans-serif;
}
/*---------------------------------------*/
/* #navbar,
#logo,
#nav-list,
.projects-section-header,
.project-grid,
.project {
  border: 3px solid red;
} */

/*---------------------------------------*/
#navbar {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  font-size: 1.5rem;
  height: 9vh;
  background-color: white;
}

#logo {
  display: flex;
  justify-content: space-around;
  height: 6vh;
  width: 4vw;
  min-width: 50px;
  min-height: 16px;
  margin: auto 0px;
  margin-right: auto;
  margin-left: 10px;
}
#logo img {
  height: 100%;
  width: 100%;
}
#nav-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 7.9vh;
}
#nav-list > li {
  list-style: none;
  margin: 30px;
}

.nav-element > a:hover {
  color: var(--main-blue);
}

#resume {
  border: 1px solid var(--main-blue);
  padding: 10px;
  border-radius: 290486px;
  color: var(--main-blue);
}

#resume:hover {
  background-color: var(--main-blue);
  border: 1px solid black;
  color: white;
}

@media (max-width: 650px) {
  #nav-list > li {
    margin: 10px;
  }
  #logo {
    display: none;
  }
}

/*---------------------------welcome section-----------------------*/
#welcome-section {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--main-blue);
  color: white;
}
#welcome-section > h1 {
  font-size: 5rem;
}
#welcome-section > p {
  font-size: 1rem;
  font-style: italic;
}
@media (max-width: 650px) {
  #welcome-section > h1 {
    font-size: 3rem;
  }
}
/*--------------Project Section-----------------*/
#projects {
  text-align: center;
  padding: 5rem 2rem;
}
#projects > h2 {
  margin: 0px auto 3rem auto;
  padding-bottom: 3px;
  max-width: 640px;
  font-size: 2.5rem;
  border-bottom: 0.2rem solid black;
}
.project-grid {
  display: grid;
  grid-gap: 2vw;
  grid-template: 15vw 15vw / auto auto auto;
  margin-left: 10%;
  margin-right: 10%;
}

@media (max-width: 800px) {
  .project-grid {
    display: grid;
    grid-gap: 50px;
    grid-template: 50vw 50vw 50vw 50vw 50vw 50vw / auto;
    margin-left: 5%;
    margin-right: 5%;
  }
}
.project-grid > a {
  border: 3px solid #ff3399;
  background-color: lightgrey;
  border-radius: 10px;
}
.project-grid > a > img {
  width: 90%;
  height: 90%;
}

#project-title {
  font-size: 1rem;
}
#tribute-page {
  width: 70%;
}

/*--------------footer----------------------*/
footer {
  background-color: var(--main-blue);
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-links > .contact-details {
  margin: 10px;
  padding: 10px;
  border-radius: 50%;
  color: white;
  border: 1px solid #ff3399;
}
.contact-details:hover {
  background-color: white;
  color: black;
}
footer .copyright {
  margin-top: 20px;
  color: white;
}
